<template>
  <main>
    <div class="home">
      <div class="home__inner">
        <p class="home__top-text">Пройдите точный и быстрый</p>
        <h2 class="home__title">тест на определение IQ</h2>
        <div class="home__logo"></div>
        <router-link class="home__btn" to="/test">Пройти тест</router-link>
        <p class="home__shorttext">
          И получите рекомендации <br />
          по развитию своего интеллекта <br />
          <span
            >и улучшению финансового <br />
            благосостояния и личной жизни</span
          >
        </p>
        <a @click="nextPage" class="home__next">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="8" cy="8" r="8" fill="white" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M8.45453 11.6364L8.45453 6.10454L10.9954 8.64545L11.6364 8L7.99999 4.36363L4.36362 8L5.00453 8.6409L7.54544 6.10454L7.54544 11.6364L8.45453 11.6364Z"
              fill="#0C0B10"
            />
          </svg>
          Подробнее
        </a>
      </div>
    </div>
    <div class="quote">
      <div class="quote__inner">
        <div class="quote__icon quote__icon-top"></div>
        <p>
          Профессиональный <br />
          IQ-тест позволяет не только определить коэффициент вашего интеллекта,
          но и выработать список рекомендаций для повышения этого показателя.
        </p>
        <div class="quote__icon quote__icon-bottom"></div>
      </div>
    </div>
    <div class="description">
      <div class="description__inner">
        <p>
          Также по результатам теста <span>вы получите</span> подробные
          <span>советы</span> по определению наиболее перспективной
          <span>для вашего типа</span> интеллекта
          <span>сферы деятельности</span>, которая принесет вам скорейший
          финансовый результат.
        </p>
        <img
          class="description__img"
          src="../assets/images/325-01.png"
          alt=""
        />
        <router-link class="home__btn" to="/test">Пройти тест</router-link>
      </div>
    </div>
    <div class="home-footer">
      <div class="home-footer__inner">
        <p>
          Прохождение теста займет у вас не более 12 минут, а его результаты вы
          сможете использовать всю жизнь.
        </p>
        <div class="block">
          <p>
            Профессиональная интерпретация и детально проработанные рекомендации
            позволят вам качественно изменить все аспекты своей жизни: от
            финансового до любовного.
          </p>
        </div>
        <router-link class="home__btn" to="/test">Пройти тест</router-link>
      </div>
    </div>
  </main>
</template>
<script>
export default {
  methods: {
    nextPage() {},
  },
};
</script>
<style lang="scss">
.home {
  background-image: url(../assets/images/rain_bk2.jpg);

  &__inner {
    background-image: url(../assets/images/rain_bk.png);
    background-position: center top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 27px;
  }

  &__top-text {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #fff;
  }
  &__title {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffc700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-transform: uppercase;
    max-width: 252px;
    margin-bottom: 152px;
    margin-top: 14px;
  }
  &__btn {
    width: 189px;
    padding: 14px 0;
    background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #0d0c11;
    cursor: pointer;
  }
  &__shorttext {
    margin-top: 22px;
    color: #ffc700;
    max-width: 286px;
    text-align: center;
    span {
      color: #fff;
    }
  }
  &__next {
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: normal;
    font-size: 8px;
    line-height: 11px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    cursor: pointer;

    svg {
      margin-bottom: 3px;
    }
  }
}
.quote {
  background-image: url(../assets/images/image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 240px;

  &__inner {
    position: relative;
    padding: 43px 24px 32px;
    width: 320px;
    margin: 0 auto;
    box-sizing: border-box;
    background: radial-gradient(
      84.34% 50.29% at 48.75% 49.71%,
      #2950c2 0%,
      rgba(38, 91, 199, 0.96) 40.62%,
      rgba(39, 98, 187, 0) 85.42%
    );
    background-position: center;
  }
  p {
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #ffffff;
    max-width: 248px;
    margin: 0 auto;
    padding: 27px 0;
  }
  &__icon {
    background-image: url(../assets/images/“.png);
    width: 23px;
    height: 22.35px;
    position: absolute;
    &-top {
      left: 27px;
      top: 40px;
    }
    &-bottom {
      right: 31px;
      bottom: 29px;
      transform: rotate(180deg);
    }
  }
}
.description {
  max-width: 320px;
  margin: 0 auto;
  padding: 38px 11px;
  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    margin-bottom: 38px;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    span {
      text-transform: uppercase;
    }
  }
}
</style>
