<template>
  <div class="test">
    <progress-bar percentage="40" />
    <div class="test__body">
      <div class="test__list">
        <div class="test__question">
          {{ test[index].question }} {{ selectedAnswer }}
        </div>
        <div class="test__answer">
          <div
            v-for="answer in test[index].answers"
            :key="answer.id"
            class="test__answer-item"
          >
            <div class="test__answer-bg"></div>
            <label class="test__answer-container">
              <input
                type="radio"
                :checked="answer.text"
                :name="index"
                :value="test[index].id"
                @change="answered($event)"
              />
              <span class="test__answer-checkmark"></span>
              {{ answer.text }}
            </label>
          </div>
        </div>
      </div>
    </div>
    <button
      :disabled="selectedAnswer == ''"
      @click="nextQuestion"
      class="test__next"
      type="submit"
    >
      ДАЛЕЕ
    </button>
  </div>
</template>

<script>
import data from "../data/test";
import ProgressBar from "../components/ProgressBar.vue";
export default {
  components: { ProgressBar },
  data() {
    return {
      test: data,
      selectedAnswer: "",
      index: 0,
    };
  },
  methods: {
    answered(e) {
      this.selectedAnswer = e.target.value;
    },
    nextQuestion() {
      this.index++;
      this.selectedAnswer = "";
    },
  },
};
</script>

<style lang="scss">
.test {
  padding-top: 17px;
  padding-bottom: 25px;
  background-image: url(../assets/images/rain_bk2.jpg);
  &__question {
    text-align: center;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #fff;
    margin-top: 65px;

    &:first-letter {
      text-transform: uppercase;
    }
  }
  &__answer {
    margin-top: 45px;
    &-item {
      margin-bottom: 8px;
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
    }
    &-bg {
      position: absolute;
      background: #f2f3f3;
      width: 100%;
      height: 50px;
      opacity: 0.15;
      z-index: 1;
    }
    &-container {
      margin-left: 35px;
      z-index: 1;
      display: block;
      position: relative;
      cursor: pointer;
      font-weight: normal;
      font-size: 18px;
      user-select: none;
      color: #ffffff;
      display: flex;
    }
    &-radio {
      opacity: 0;
      cursor: pointer;
      display: none;

      &:checked ~ .test__answer-checkmark {
        background: #2950c2;
        border: 1px solid #272727;
      }
    }
    &-checkmark {
      display: block;
      height: 20px;
      width: 20px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      margin-right: 39px;
    }
    &-active {
      background: #ffc700;
      opacity: 1;
    }
  }
  &__next {
    width: 189px;
    height: 41px;
    box-shadow: inset 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 33px;
    display: block;
    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
    color: #0d0c11;

    &:disabled {
      cursor: default;
      color: #8e8e8e;
      background: #dadada;
    }

    &-active {
      background: radial-gradient(50% 50% at 50% 50%, #ffc700 0%, #ffc700 100%);
      color: #0d0c11;
      cursor: pointer;
    }
  }
}
</style>
