<template>
  <div class="progress">
    <div class="progress__inner">
      <div class="progress__bar" :style="{ width: percentage + '%' }"></div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['percentage']
};
</script>

<style lang="scss">
.progress {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  &__inner {
    position: relative;
    height: 11px;
    background: #f2f3f3;
    opacity: 0.59;
    border-radius: 10.5px;
  }
  &__bar {
    position: absolute;
    display: block;
    height: 100%;
    width: 50%;
    background-color: #3bde7c;
    border-radius: 10.5px;
  }
}
</style>
