<template>
  <header class="header">
    <div class="header__inner">
      <div @click="menu = !menu" class="header__burger">
        <span></span>
      </div>
      <nav v-show="menu" class="menu">
        <span @click="menu = !menu" class="menu__close">
          <svg
            width="28"
            height="28"
            viewBox="0 0 28 28"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28 2.82L25.18 0L14 11.18L2.82 0L0 2.82L11.18 14L0 25.18L2.82 28L14 16.82L25.18 28L28 25.18L16.82 14L28 2.82Z"
              fill="#FFC700"
            />
          </svg>
        </span>

        <ul class="menu__list">
          <li><router-link class="menu__link" to="/">Главная</router-link></li>
          <li>
            <router-link class="menu__link" to="/"
              >Информация о тесте</router-link
            >
          </li>
          <li>
            <router-link class="menu__link" to="/">пройти тест</router-link>
          </li>
        </ul>
      </nav>

      <router-link v-if="$route.name == 'Test'" class="logo" to="/">
        <img src="../assets/images/rain_bk4.png" alt="" />
        <div class="logo__title">тест на определение IQ</div>
      </router-link>
    </div>
  </header>
</template>

<script>
export default {
  data() {
    return {
      menu: false,
    };
  },
};
</script>

<style lang="scss">
.header {
  width: 100%;
  background-color: #181818;
  &__inner {
    padding: 0 15px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  &__burger {
    display: block;
    position: relative;
    width: 24px;
    height: 16px;
    cursor: pointer;

    span {
      position: absolute;
      background-color: #fff;
      left: 0;
      width: 100%;
      height: 2px;
      top: 7px;
    }

    &:before,
    &:after {
      content: "";
      background-color: #fff;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
}
.logo {
  display: flex;
  align-items: center;
  margin-left: 9px;
  text-decoration: none;

  &__title {
    margin-left: 9px;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffc700;
  }
}
.menu {
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: #272727;
  z-index: 99;
  &__close {
    position: absolute;
    right: 13px;
    top: 18px;
    cursor: pointer;
  }
  &__list {
    list-style: none;
    margin-top: 110px;
    margin-left: 23px;
    display: flex;
    flex-direction: column;

    li {
      margin-bottom: 27px;
    }
  }
  &__link {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      color: #f4ce0c;
    }
  }
}
</style>
