<template>
  <div class="app">
    <the-header />
    <router-view />
  </div>
</template>

<script>
import TheHeader from "./components/TheHeader.vue";
export default {
  components: { TheHeader },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Yeseva+One&display=swap");
@import url("normalize.css");
* {
  margin: 0;
  padding: 0;
}
html,
body {
  // font-family: "Roboto", sans-serif;
  font-family: "Yeseva One", cursive;
  font-style: normal;
  font-weight: normal;
}
</style>
